/* field html5 css */

.class-xrowform abbr.required:after
{
    content: " *";
    color: black;
}

.class-xrowform  abbr.valid:after
{
    content: " ✓";
    color: green;
}

.xrow-form-error abbr:after,
.class-xrowform  abbr.invalid:after
{
    content: " !";
    color: red;
}

li.xrow-form-passwort {
    clear: both;
    overflow: hidden;
}

.xrowform-password-validation { 
    width: 6%;
    float: right;
    margin: -2% 0 0 29%;
    position: absolute;
}

.content-view-full .xrow-form-error,
.content-view-full .attribute-header,
.content-view-full .attribute-long
{
    padding:0 5px;
}

.content-view-full .xrow-form-error input, .content-view-full .xrow-form-error textarea, .content-view-full .xrow-form-error select
{
    border: 2px solid #e1071d;
}

.content-view-full .xrow-form-error input[type="checkbox"], .content-view-full .xrow-form-error input[type="radio"]
{
    outline: 1px solid #e1071d;
}

.xrow-form-full input[type="radio"].xrow-form-imageoptions,
.xrow-form-full input[type="checkbox"].xrow-form-imageoptions
{
    margin-top:-15px;
}

.xrow-form-full .xrow-form-imageoptions div.block
{
    margin-top: 1em;
}

.xrow-form-error ul li{
   color:#e1071d;
}
.xrow-form-error label
{
    color: #e1071d;
}

.xrow-form-container fieldset
{
    padding: 1em;
}

ol.xrow-form-container
{
    list-style-type: none;
    margin-left: 1em;
}

ol.xrow-form-container li.xrow-form-element
{
    list-style-type: none;
}

ol.xrow-form-container li.xrow-form-element
{
    display:block;
    margin-bottom: 1em;
}

.xrow-option-list
{
    margin-left: 2em;
    padding-left: 2em;
}
.xrow-form-element-width
{
    width: 85%;
}

.hidden
{
    display: none;
}

/* form styles for frontend */

.xrow-form-full form
{
    padding:0 5px 0 5px;
}

.xrow-form-full label
{
    font-weight: bold;
    clear: both;
    display: block;
    padding: 3px 0;
}

.xrow-form-full textarea, .xrow-form-full input.box
{
    clear: both;
    margin:0px 0px 5px 0;
    width: 96.5%;
    max-width:100% !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
    .xrow-form-full .input.file_input-div
    {
        width:396px; 
    }
}
.xrow-form-full textarea.xrow-form-mein-beitrag
{
    height: 660px !important;
}

.xrow-form-full input.halfbox
{
    width: 49%;
}

.xrow-form-full li
{
    margin-bottom: 1em;
    overflow: hidden;
}

div.xrow-form-spacer
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 0.1em;
    border-bottom: 1px solid #CCCCCC
}

div.block label.xrow-image-options
{
    white-space: normal;
    font-weight: normal;
    color: #000;
}

div.element label.xrow-image-options
{
    width:auto;
    max-width:550px;
    height:70px;
}

div.element label.xrow-image-options img
{
    padding: 0px 0;
    margin-bottom:5px;
}

div.element label.xrow-image-options .img
{
    width: 80px;
    height: 60px;
    text-align: center;
    margin-right: 8px;
}

div.element label.xrow-image-options .bes
{
    word-wrap:break-word;
    word-break:break-all;
}
/*new Design*/

ol.xrow-form-xrowform
{
   list-style-type:none;
}

ol.xrow-form-xrowform li,
.xrow-form-full li,
.xrow-form-full ol
{
   list-style-type:none;
}

ol.xrow-form-xrowform .radio_button
{
    float:left;
    margin-right:5px;
    margin-top:4px;

}

ol.xrow-form-xrowform .options_label label,
ol.xrow-form-xrowform .options_checkbox label
{
    clear:right;
    margin-right:10px;
    font-weight:normal;
}

ol.xrow-form-xrowform .input_desc,
ol.xrow-form-xrowform .options_desc,
ol.xrow-form-xrowform .desc_eingabe_bild
{
    color: #AAAAAA;
    font-size: 80%;
    line-height: 135%;
    margin-bottom: 5px;
    margin-top: 5px;
}

ol.xrow-form-xrowform abbr
{
    border-bottom:none;
}

ol.xrow-form-xrowform textarea
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    color: #999999;
    padding:0;
}

.xrow-form-full ol,
.xrow-form-full ul,
.xrow-form-full li {
    margin:0;
}

.xrow-form-full input.box
{
    padding:2px;
}

.xrow-form-full input[type="checkbox"], 
.xrow-form-full input[type="radio"]
{
    float:left;
    margin-right:6px;
    margin-top: 4px;
}

.xrow-form-full select.xrow-form-options.xrow-form-telephonenumber-left
{
    width: 10%;
    float: left;
    margin-right: 10px;
}

.xrow-form-full input.box.xrow-form-telephonenumber-right
{
    width: 86%;
}